{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/ban-ts-comment": ["warn"],
    "no-console": "off",
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/react-in-jsx-scope": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
