{
  "report-dir": "cypress-coverage",
  "all": true,
  "include": ["{modules,lib,pages}/**/*.{js,jsx,ts,tsx}"],
  "exclude": [
    "**/*.d.ts",
    "**/{node_modules,coverage}/**",
    "**/*.test.ts",
    "**/__tests__/**",
    "**/*.spec.ts",
    "cypress/**/*.ts"
  ]
}