name: Unit Tests

on: [push]

jobs:
  unit:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.18.0-chrome107-ff106-edge
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      ETHERSCAN_KEY: ${{ secrets.ETHERSCAN_KEY }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      USE_CACHE: false
      REDIS_URL: ${{ secrets.REDIS_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install node packages
        run: yarn

      - run: yarn build-sdk

      - run: yarn lint

      - run: yarn test:ci

      - name: Codecov
        run: |
          yarn add --dev codecov
          ./node_modules/.bin/codecov
